

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UTRGV-CS3340</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="https://www.google.com/maps/dir/26.3061904,-98.1748585/Chase+Bank,+1801+W+University+Dr,+Edinburg,+TX+78539/@26.3051414,-98.1800912,17.19z/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8665a3b59327e2a7:0x370d8426311e4a27!2m2!1d-98.181675!2d26.30476?entry=ttu&g_ep=EgoyMDI0MTAyMC4xIKXMDSoASAFQAw%3D%3D">Website1</a>
          <a class="nav-link" href="#">Webiste2</a>
          <a class="nav-link disabled" aria-disabled="true">Website3</a>
        </div>
      </div>
    </div>
  </nav>